<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <p>&copy; 2024 Музыкальный Магазин. Все права защищены.</p>
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="mx-2"><a href="#">Facebook</a></li>
            <li class="mx-2"><a href="#">Instagram</a></li>
            <li class="mx-2"><a href="#">Twitter</a></li>
        </ul>
    </div>
</footer>
